# These owners will be the default owners for everything in
# the repo, unless a later match takes precedence.
*           @microsoft/acs-web-chat-adapter-reviewer-1 @microsoft/acs-web-chat-adapter-reviewer-2
