# External contributors: this is an internal feed. If it is not public, override with
#   npm install --registry=https://registry.npmjs.org/
registry=https://pkgs.dev.azure.com/skype/SCC/_packaging/SCC_PublicPackages/npm/registry/
always-auth=true
ignore-scripts=false
